.MainPageLeftContent {
  display: flex;
  flex: 1;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--theme-background-secondary-dark);
  padding-top: 0.5rem;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  > * {
    margin-bottom: 1rem;
  }

  .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
}

.disabledButton {
  color: var(--theme-text-secondary);
  border: none;

  cursor: not-allowed;
}
