.inputGroup {
  margin-bottom: 1rem;
  width: 100%;
}

.textarea {
  min-height: 60px;
  flex: 1;
}

.genericLabel {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
  margin-bottom: 0.5rem;
}
