.MainPageRightContent {
  display: flex;
  flex: 1;
  width: 100%;
  position: relative;
  background-color: var(--theme-background-secondary-dark);
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem;
}

.header {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.inputGroup {
  margin-bottom: 0.75rem;
}

.textarea {
  width: 100%;
  min-height: 3.75rem;
}

.select {
  margin-left: 0.5rem;
}

.button {
  margin-right: 0.5rem;
}
