.MainPageCenterContent {
  display: flex;
  flex: 1;
  width: 100%;
  position: relative;
  background-color: var(--theme-background-secondary-dark);
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.header {
  text-align: left;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.copyButton {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
}

.scrollableContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  gap: 0.5rem;
  padding-bottom: 1rem;
  overflow: auto;
}
