.Backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  // backdrop-filter: blur(4px);
  // animation: fade-in 0.3s;
  transition: background-color 0.5s;

  // &_display {
  //   background-color: rgba(0, 0, 0, 0.5);
  // }
}

.close_button {
  //TODO: Change this to rem
  top: 4%;
  right: 2%;
  position: fixed;
  cursor: pointer;
  color: var(--mui-common-white);
  opacity: 1;
}

.busyIndicatorIn {
  animation: fadeInOpacity 0.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

.busyIndicatorOut {
  opacity: 0;
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes fadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
