.MainPageLayout {
  flex: 1;
  position: relative;
  display: grid;
  grid-template:
    "leftContent centerContent rightContent" 1fr
    / 0.5fr 1fr 0.5fr;
  gap: 10px; /* Adjust the gap between columns as needed */
  overflow: hidden;
}

.rightContent {
  grid-area: rightContent;
  display: flex;
  overflow: hidden;
}
.leftContent {
  grid-area: leftContent;
  display: flex;
  overflow: hidden;
}
.centerContent {
  grid-area: centerContent;
  display: flex;
  overflow: hidden;
  min-width: 0;
}

.settings {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
